<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    <p>Know more about Us</p>
    </div>
    <p1>My name is Sanghak Oeng, I'm an international student from Cambodia.<br>
      Currently i'm in my third semester taking the Software Engineering Technician program<br>
      at Centennial College.</p1>
  <br>
  <img src="/img/myphoto.jpg" alt="photo" width="200" height="250"/><br>
  <a href="/img/myresume.pdf"> Click here to see my Resume.</a>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   