<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1><br>
    <p1>&nbsp;&nbsp;&nbsp;&nbsp;We empower businesses and individuals with exceptional software development and engineering services. 
        Our mission is to deliver tailored solutions that drive efficiency, productivity, and growth in a rapidly 
        evolving digital landscape. With expertise in cutting-edge technologies, we create high-quality 
        software solutions, building long-term partnerships through collaboration, transparency, and excellence. 
        Trust us to transform your ideas into reality and unlock technology's full potential for your business.</p1><br><br>
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   