<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    </div>
    <p1>My first individual assignment in the first semester, i made a real estate website with a total of 7 pages.</p1><br>
    <img src="/img/firstwebsite.png" alt="firstwebsite" width="550" height="320" />
    <img src="/img/pages.png" alt="webpages" width="300" height="320" /><br><br>
    <p2>In my second semester i joined my first ever hackathon at UofT which they have it once every year and it called UofTHacks X.
         During that 2 days at UofT, me and my group of 4 we made a small game using Unity and Blender.</p2><br>
    <img src="/img/img1.jpg" alt="pic1" width="200" height="150"/>
    <img src="/img/img2.jpg" alt="pic2" width="200" height="150"/>
    <img src="/img/img3.jpg" alt="pic3" width="200" height="150"/>
    <img src="/img/game1.png" alt="game" width="200" height="150"/>
    <img src="/img/game2.png" alt="game" width="200" height="150"/>
    <img src="/img/game3.png" alt="game" width="200" height="150"/>
    <img src="/img/game4.png" alt="game" width="200" height="150"/>
    <br><br>
    <br>
    <br>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   