<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="ontainer">
<div class="jumbotron">

    <h1>Welcome to <%= title %> Page</h1>
    </div>
    <h4>These are the services that we offer you:</h4><br>
        <ul>
            <li>Custom Software Development</li>
            <li>Web Application Development</li>
            <li>Mobile App Development</li>
            <li>Software Consulting</li>
            <li>Maintenance and Support</li>
        </ul>  
        <img src="/img/service1.png" alt="service" width="380" height="260"/>
        <img src="/img/service2.png" alt="service" width="380" height="260"/>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   